body{
	margin:0;
	padding:0;
	border:none;
	background-color:#09F;
	}

.form_wrapper{
	padding:0;
	margin:0 auto;
	max-width:978px;
}

.form_wrapper h1{
	font:bold 38px 'Roboto Condensed', sans-serif; 
	text-align:center; 
	color:#FFF; 
	margin:0; 
	padding:80px 0 0 0;
	}

.form_wrapper h1:after {
  content: "";
  width: 25%;
  display: block;
  margin: 5px auto 20px auto;
  height: 1px;
  background: #ffffff;
  }
  
.form_wrapper .intro_text{ 
	text-align:center; 
	margin: 0 auto; 
	font:italic 22px Georgia, "Times New Roman", Times, serif; 
	color:#FFF; 
	width:60%;}

.form_wrapper .circle{
	margin:70px auto 0 auto;
	width:100%;
	height:100%;
	border-radius:50%;
	text-align:center;
	background:#ffffff;
	color:#000;
}

@media (max-width: 978px) {
	.form_wrapper .circle{border-radius:0;}
	}	

.form_wrapper .circle h1{
	color:#000;
	line-height:1;
	padding-top:15px;}
	
.form_wrapper .circle	h1:after { background:#000; width:100%;margin-top:25px; margin-bottom:30px;}
	
.form_wrapper .circle .intro_text{width:auto; color:#000;}

.form_wrapper .form_input{
	max-width:465px;
	margin:0 auto;
	padding-top:20px;
}	

.form_wrapper input{
    color:#000000;
    font:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
	padding:5px;
}

.form_wrapper button{
    background-color: #ec008d;
	color: #fff;
    font-size: 14px;
	font-weight:bold;
    text-decoration: none;
    border:none;
  	padding:8px;
  	width:180px;
  	margin:15px 0 0 0;
  	cursor:pointer;
}

.form_wrapper ul {
	list-style-position:inside; 
	font-style:italic; 
	margin-left:-27px; 
	font-size:16px; 
	padding:0 0 50px 0;
}

.form_wrapper ul li:first-child{list-style-type:none;}
.form_wrapper form div{padding:5px;}
.footer_text{ margin:10px 0 0 0;}
.own_tomm_footer{ 
	margin:50px 0 50px 0; 
	color:#99c1da; 
	font-size:18px; 
	font-family:'Roboto Condensed', sans-serif;
	text-align:center;
}

.thank_you_wrapper{
	width:50%;
	padding:0;
	margin:0 auto;
	background-color:#09F;
}

.thank_you_wrapper img {
    display: block;
    margin: 0 auto 30px auto;
	border:none;
} 


.thank_you_wrapper h1{
	font: bold 38px 'Roboto Condensed', sans-serif; 
	padding:0; 
	text-align:center; 
	color:#FFF; 
	margin:0; 
	padding:80px 0 0 0;}
	
.thank_you_wrapper h1:after {
  content: "";
  width: 40%;
  display: block;
  margin: 0 auto;
  height: 1px;
  background: #ffffff;
  margin-top:20px;
  margin-bottom:20px;
  }

.thank_you_wrapper .intro_text{ 
	text-align:center; 
	margin: 0 auto; 
	font:italic 22px Georgia, "Times New Roman", Times, serif; 
	color:#FFF; 
	padding:0 0 75px 0;}

.thank_you_wrapper ul{
	font:bold 38px 'Roboto Condensed', sans-serif; ; 
	padding:0; 
	text-align:center; 
	color:#FFF; 
	margin:35px 0 30px 0;  
	list-style-type:none;
}

.thank_you_wrapper ul li:after {
  content: "";
  width: 10%;
  display: block;
  margin: 0 auto;
  height: 1px;
  background: #ffffff;
  margin-top:15px;
  margin-bottom:20px;
  }  

.thank_you_wrapper ul li:last-child::after{
  content: "";
  width: 10%;
  display: none;
  margin: 0 auto;
  height: 1px;
  background: #ffffff;
}

@media (max-width: 800px) {
	.thank_you_wrapper{width:auto;}
}


